.product-main-container{
    width: 98%;
    margin: 20px auto;
}
.product-main-container .details{
    display: flex;
    padding: 20px;
    background: #fff;
}
.product-main-container .details .left{
    width: 16%;
}
.product-main-container .details .left ul{
    list-style: none;
    padding: 0px;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    font-weight: 500;
}
.product-main-container .details .left h6{
    font-size: 14px;
    font-weight: 700;
}
.product-main-container .details .right{
    height: 100%;
    width: 84%;
    border-left: 3px solid #EAEDED;
}
.product-main-container .details .right .top{
    display: flex;
    justify-content: space-between;
}
.product-main-container .details .right .top .page span{
    font-size: 14px;
    font-weight: 500;
    margin-left: 25px;
}
.product-main-container .details .right .top .filters select{
    border-radius: 8px;
    border: none;
    font-size: 13px;
    text-align: left;
    padding: 0px 0px 0px 11px;
    height: 30px;
    width: 140px;
    background-color: #E3E6E6;
    font-weight: 500;
    outline: none;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 5px;
}
.product-main-container .details .right .main-bottom1{
    width: 100%;
    display: flex;
    align-items: center;
}
.product-main-container .details .right .main-bottom2{
    width: 100%;
    display: flex;
    align-items: center;
}
.product-main-container .details .right .main-bottom4{
    width: 100%;
    display: flex;
    align-items: center;
}
.product-main-container .details .right .main-bottom5{
    width: 100%;
    display: flex;
    align-items: center;
}.product-main-container .details .right .main-bottom6{
    width: 100%;
    display: flex;
    align-items: center;
}.product-main-container .details .right .main-bottom3{
    width: 100%;
    display: flex;
    align-items: center;
}
.product-main-container .details .right .bottom{
    width: 19%;
    margin: 15px 10px;
}
.product-main-container .details .right .bottom .product img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #F7F7F7;
    mix-blend-mode: multiply;
    margin-top: 10px;

}
.product-main-container .details .right .bottom .content{
    width: 100%;
    height: 100%;
}
.product-main-container .details .right .bottom .content h6{
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.product-main-container .details .right .bottom .content a{
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
}
.product-main-container .details .right .bottom .content a:hover{
    color: #D0511F;
}
.product-main-container .details .right .bottom .content .stars{
    display: flex;
    justify-content: center;
}
.product-main-container .details .right .bottom .content .stars i{
    font-size: 12px;
    color: #FDA11C;
}
.product-main-container .details .right .bottom .content .stars span{
    font-size: 12px;
    margin: 0 0 4px 0;
    line-height: 16px;
    margin-left: 5px;
}
.product-main-container .details .right .bottom .content .button{
    display: flex;
    justify-content: center;
}
.product-main-container .details .right .bottom .content .button button{
    background: #CC0C39;
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 4px;
    border-radius: 5px;
    border: none;
    outline: none;
    display: flex;
}
.product-main-container .details .right .bottom .content .price{
    display: flex;
    align-items: center;
    justify-content: center;

}
.product-main-container .details .right .bottom .content .price p{
    font-size: 18px;
    font-weight: 100;
    color: #B12704;
    margin-right: 4px;
}
.product-main-container .details .right .bottom .content .price .main-price{
    display: flex;
    font-size: 18px;
}
.product-main-container .details .right .bottom .content .price .main-price span{
    font-size: 10px;
    line-height: 20px;
    
}
.product-main-container .details .right .bottom .content .price .main-price p{
    font-size: 18px;
    line-height: 24px;
    color: black;
    text-align: center;
    font-weight: 500;
}
.product-main-container .details .right .bottom .content .price span{
    font-size: 12px;
}
.product-main-container .details .right .bottom .content .mrp-price {
    display: flex;
    justify-content: center;
}
.product-main-container .details .right .bottom .content .mrp-price span{
    font-size: 12px;
}
.product-main-container .details .right .bottom .content .mrp-price strike{
    font-size: 12px;
}
.product-main-container .details .right .bottom .content .freedelivery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.product-main-container .details .right .bottom .content .freedelivery button{
    font-size: 12px;
    background: #3E4650;
    color: white;
    padding: 1px 3px;
}
.product-main-container .details .right .bottom .content .freedelivery p{
    font-size: 12px;
    font-weight: 700;
}
.product-main-container .details .right .bottom .content .freedelivery a{
    font-size: 12px;
    text-decoration: underline solid rgb(199, 81, 31);
}
.pagination {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    gap: 8px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.pagination button{
    font-size: 14px;
    font-weight: 500;
    padding: 6px 15px;
    border: 1px solid #D5D9D9;
    background-color: #F7FAFA;
    border-radius: 8px;

}
.pagination button:hover{
    border: 1px solid rgba(0, 0, 0, 0.7);
}
.pagination button i{
    font-size: 14px;
    font-weight: 500;
}
.shop-all{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    margin: 20px auto;
    background-color: white;
    padding: 20px 26px;

}
.shop-all a{
    font-size: 24px;
    text-decoration: none;
    height: auto;
    width: auto;
}
.shop-all a:hover{
    text-decoration: underline;
}
.signin{
    background-color: white;
}
.signin p{
    font-size: 13px;
    color:black;
    text-align: center;
}
.signin .sign-btn{
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
}
.signin .sign-btn button{
    border: none;
    border-radius: 5px;
    padding: 5px 95px;
    background-color: #FFD978;
    border: 2px solid #dca61d;
    font-weight: 700;
}
.signin .new-text{
    text-align: center;
}
.signin .new-text span{
    font-size: 11px;
    color: black;
}
.signin .new-text a{
    font-size: 11px;
}


