*{
    margin: 0;
    padding: 0;

}
header{
    display: flex;
    color: white;
    gap: 20px;
}
.header-container-top{
    display: flex;
    gap: 15px;
}
.header-container-top .logo{
    padding: 0px 10px;
}
.header-container-top .location{
    align-items: center;
    display: flex;
    gap: 5px;
}
.search{
    width: 48%;
    display: flex;
    padding: 10px 0px;
    

}
.search select{
    padding: 0px 1px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    outline: none;
    border: none;
    background-color: #D4D4D4;
    align-items: center;
    justify-content: center;
}
.search input{
    padding: 0px 10px;
    outline: none;
    border: none;
    flex: 1;
}
.search button{
    padding: 0px 20px;
    background-color: #F3A847;
    outline: none;
    border: none;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
.tools{
    align-items: center;
    justify-content: center;
    display: flex;
}
.tools .lang{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 15px;
    

}
.tools .lang-tips{
    background: white;
    padding: 20px;
    width: 150px;
    position: absolute;
    top: 100%;
    box-shadow: 0px 1px 1px 0px black;
    visibility: hidden;
    transform: translateY(50px);
    transition: 1s transform;

}
.tools .lang-tips label{
    color: black;
    margin-top: 10px;
    display: inline-block;
}
.tools .lang:hover .lang-tips{
    visibility: visible;
    transform: translateY(0px);


}