*{
    margin: 0;
    padding: 0;

}
header{
    display: flex;
    color: white;
    gap: 20px; 
}
a {
    text-decoration: inherit;
    color: inherit;
  }
 
p{
    margin: 0;
}
.header-container-top{
    display: flex;
    gap: 15px;
    align-items: center;
}
.header-container-top .logo{
    padding: 0px 10px;
}
.header-container-top .location {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: center;
}
.header-container-top .location i{
    padding-top: 9px;
}
.header-container-top .location .location-name h5{
    font-size: 15px;
    font-weight: 700;
}
.header-container-top .location .location-name p{
    font-size: 12px;
}
.search{
    width: 50%;
    display: flex;
    padding: 10px 0px;
}
.search  select{
    padding: 0px 1px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    outline: none;
    border: none;
    background-color: #D4D4D4;
    align-items: center;
    justify-content: center;
}
.search input{
    padding: 0px 10px;
    outline: none;
    border: none;
    flex: 1;
}
.search button{
    padding: 0px 20px;
    background-color: #F3A847;
    outline: none;
    border: none;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
.tools{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;
}
.tools .lang{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;
    z-index: 1;
    /* height: 10px; */
}
.tools .lang h5{
    font-size: 14px;
    font-weight: 700;
}
.tools .lang-tips{
    background: white;
    padding: 10px 15px;
    width: 150px;
    position: absolute;
    top: 100%;
    box-shadow: 0px 1px 1px 0px black;
    visibility: hidden;
    transform: translateY(50px);
    transition: 1s transform;
}
.tools .lang-tips label{
    color: black;
    margin-top: 5px;
    display: inline-block;
}
.tools .lang:hover .lang-tips{
    visibility: visible;
    transform: translateY(0px);
}
.tools .sign{
    align-items: center;
}
.tools .sign p{
    font: 12px;

}
.tools .sign h5{
    font: 14px;
    font-weight:700 ;
}
.sign .sign-box{
    top: 100%;
    box-sizing: border-box;
    padding: 20px ;
    width: 250px;
    background: white;
}
header .tools .sign{
    position: relative;
}
header .tools .sign span{
    font-size: 12px;
}
header .tools .sign h5{
    font-size: 16px;
}
header .tools .sign .contant{
    background: rgb(255, 255, 255);
    min-width: 400px;
    min-height: 400px;
    padding: 15px;
    position: absolute;
    right: -130px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    visibility: hidden;
    transform: translateY(5px);
    transition: 0.5s ;
    z-index: 1;
}
header .tools .sign .contant .top{
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
header .tools .sign .contant .top .sign-btn{
    border-radius: 8px;
    padding: 5px 60px;
    background-color: #feda2a;
    border: none;
    margin-bottom: 5px;
}
header .tools .sign .contant .top span{
    font-size: 12px;
    color: black;
}
header .tools .sign .contant .top a{
    font-size: 12px;
    color: darkcyan;
    text-decoration: none;
}
header .tools .sign .contant .top a:hover{
color: orange;
}
header .sign .contant .bottom .left ol{
    list-style: none;
    margin-left: -25px;
    font-size: 14px;
}
header .sign .contant .bottom .left h4{
    color: #000000;
    font-size: 20px;
    margin-bottom: 10px;
}
header .sign .contant .bottom .left ol a{
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    display: flex;
}
header .tools .sign:hover .contant{
    visibility: visible;
    transform: translateY(10px);
}
.contant .bottom{
    display: flex;
    justify-content: space-between;
}
.contant .bottom .left{
    margin-top: 10px;
    border-right: 1px solid rgba(0, 0, 0, 00.25);
    width: 50%;
}
.tools .sign .contant .bottom .right h4{
color: #000000;
font-size: 20px;
margin-top: 10px;

}
header .sign .contant .bottom .right ol{
    margin-left: -80px;
    font-size: 14px;
}
header .sign .contant .bottom .right ol a{
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    margin-top: 10px;
}
.tools .returns span{
    font-size: 12px;
}
.tools .returns h4{
    font-size: 14px;
    font-weight: 700;
}
.tools .cart i{
font-size: 30px;
}
.tools .cart{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.tools .cart h4{
    font-size: 0.85rem;
    font-weight: 700;
    padding-top: 15px;
}

/* panel styling start */
.panel{
    height: 40px;
    background-color: #232F3E;
    display: flex;
    color: white;
}
.panel .panel-all{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    padding: 8px 9px;
    gap: 4px;
}
.panel .panel-all h4{
    font-size: 18px;
    margin: 0;
}
.panel .panel-ops{
    display: flex;
    justify-content: space-evenly;
}
.panel .panel-ops p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 8px 9px;
    font-weight: 700;
    cursor: pointer;
}
main .banner{
    height: 100%;
    position: relative;
    background-size: cover;
}
main .banner .slide{
    height: 100%;
}
main .banner .slide .carousel-inner{
    height: 100%;
}
main .banner .slide .carousel-inner .carousel-item{
    height: 100%;
}
main .banner .slide .carousel-inner .carousel-item img{
    height: 100%;
}
main .banner .slide button{
    height: 300px;
    width: 100px;
}
/* products category style */

main .banner .products-category{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 10px; 
}
main .banner .products-category .product-container{
    width: 98%;
    margin: auto;
    display: flex;
    height: 100%;
    justify-content: space-between;
}
main .banner .products-category .product-container .item{
    width: 95%;
    background: white;
    padding: 20px 10px;
}
main .banner .products-category .product-container .item .products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
main .banner .products-category .product-container .item .product {
    width: 48%;
    margin-top: 10px;
  }
  main .banner .products-category .product-container .item .product .product-img {
    width: 160px;
    height: 100px;
  }
  main .banner .products-category .product-container .item .product .product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  main .banner .products-category .product-container .item .product p {
    font-size: 12px;
    font-weight: 600;
  }
  body{
    background-color: #E3E6E6;
  }
  /* products=deals */
  
.product-deals{
    background: rgb(255, 255,255);
    padding: 10px 20px 10px 20px ;
    width: 99%;
    margin: auto;
    margin-top: 115px;
    height: 100%;
}
.product-deals .top{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    margin: 10 0 0 0;
}
.product-deals .top a{
    color: rgb(5, 126, 126);
}
.product-deals .bottom .item .bottom button{
    width: 70px;
    height: 100%;
}
.product-deals .bottom .products{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.product-deals .bottom .products .item{
    height: 100%;
    width: 100%;
    padding: 10px 0px;
    padding-top: 10px;
    display: block;
}
.product-deals .bottom .products a{
    width: 100%;
}
.bottom .carousel-inner .active {
    display: flex;
    justify-content: center;
}
.product-deals .bottom  button{
    background: rgb(255, 255, 255);
    width: 45px;
    height: 100px;
    margin: auto 0;
    opacity: 1;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 13px;
}
.product-deals .bottom button[data-bs-slide="prev"] {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.product-deals .bottom button[data-bs-slide="next"] {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.product-deals .bottom i{
    color: black;
}
.product-deals .bottom .carousel-item{
    width: 100%;
}
.product-deals .bottom .item .top {
    background: #F7F8F8;
    width: 100%;
    height: 100%;
    /* padding: 10px; */
    margin-bottom: 15px;
}
.product-deals .bottom .item .top {
    width: 100%;
    height: 170px;
}
.product-deals .bottom .item .top img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-deals .bottom .item .bottom button{
    background: #CC0C39;
   color: white;
   border: none;
   width: 40%;
   font-size: 12px;
   padding: 5px;
   border-radius: 2px;

}
.product-deals .bottom .item .bottom span {
    font-size: 12px;
    color: #CC0C39;
    font-weight: 700;
    margin-left: 5px;
  }
  .product-deals .bottom .item .bottom p {
    font-size: 12px;
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-top: 3px;
    /* justify-content: center; */
  }
 /* recommended styling */
.recommended{
    background: rgba(255,255, 255);
    width: 60%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    padding: 10px;
}
.recommended .img-box{
    width: 300px;
   height: 200px;
   padding: 20px;
}
.recommended .img-box img{
    width: 100%;
    height: 100%;
    object-fit: contain; 
}
.recommended .stars{
    color: #FFC200;
}
.recommended button {
    background: #CC0C39;
    color: white;
    border: none;
    font-size: 12px;
    padding: 5px;
    border-radius: 2px;
}
.recommended p, .recommended h4{
    font-size: 20px;
    margin: 0;
}
.recommended span{
    font-size: 12px;
    color: #CC0C39;
    font-weight: 500;
}
.recommended .deals{
    margin-top: 5px;
}
.recommended .price{
    display: flex;
    gap: 7px;
    margin-top: 5px;
}
.recommended .price h5 {
   display: flex;
   color: #CC0C39;
  } 
  .recommended .price h6 {
     display: flex;
    align-self: flex-end;
    text-decoration: line-through;
  }
  .recommended .price h5 span {
    font-size: 14px;
    color: #CC0C39;
    font-weight: 400;
  }
  .recommended .price .prime-logo i {
    font-size: 10px;
    color: #FFC200;
  }
  .recommended .price .prime-logo span {
    font-size: 10px;
    color: #2292C0;
  }
  /* Footer part start */
.footer{
    width: 100%;
    height: 100%;
}
.footer .back-to-top {
    width: 100%;
    background-color: #485769;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    height: 49px;
    cursor: pointer;
}
.footer .back-to-top p{
    font-size: 13px;
}
.footer .contentfooter{
    width: 100%;
    height: 100%;
    padding: 30px auto;
    background-color: #232F3E;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 40px 300px;

}
.footer .contentfooter .get-to-know h6{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer .contentfooter .get-to-know a{
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    display: flex;
    text-decoration: underline;
    margin-top: 10px;
}
.footer .contentfooter .connect-with-us h6{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer .contentfooter .connect-with-us a{
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    display: flex;
    text-decoration: underline;
    margin-top: 10px;


}
.footer .contentfooter .make-money h6{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer .contentfooter .make-money a{
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    display: flex;
    text-decoration: underline;
    margin-top: 10px;


}
.footer .contentfooter .help h6{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer .contentfooter .help a{
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    display: flex;
    text-decoration: underline;
    margin-top: 10px;


}




 

  
 

  

